@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(34, 211, 238, 0.5);
  }
}
